.c-topKv{
  &__wrapper{
    width: 100%;
    max-width: 1152px;
    margin-bottom: 40px;
    position: relative;
  }

  &__img{
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__logo{
    width: 23.6%;
    position: absolute;
    top: -17%;
    left: -4%;
    z-index: 1;

    @include sp-screen{
      width: 29%;
      margin: 0 auto 5%;
      position: initial;
    }

    img{
      width: 100%;
    }
  }

  &__text{
    width: 48%;
    position: absolute;
    bottom: -9.5%;
    right: -6%;

    @include sp-screen{
      width: 55%;
      top: 45%;
      left: 5%;
    }

    img{
      width: 100%;
    }
  }

  &__description {
    font-size: 2.4rem;

    @include sp-screen{
      font-size: 4.2vw;
      text-align: center;
    }
  }
}