.c-topKv{
  &__wrapper{
    width: 100%;
    max-width: 1152px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
  }

  &__content{
    // position: relative;
  }

  &__img{
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__logo{
    position: absolute;
    top: -24%;
    left: -10px;
  }

  &__text{
    position: absolute;
    bottom: -49px;
    right: 0;
  }

  &__description {
    font-size: 2.4rem;
  }
}