
.l-content{
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 4%;
  @include sp-screen{
    width: 100%;
    padding: 0;
  }
}

.l-content-body{
  max-width: 1152px;
  margin: 0 auto 100px;
  padding: 0 4%;
  @include sp-screen{
    width: 100%;
    padding: 0 8%;
  }
}