@charset "UTF-8";
/* ------------------Foundations-------------------------- */
html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  font-size: 1.6em;
}

div h2 {
  /* 68px */
  font-size: 6.8rem;
}

div a {
  /* 16px */
  font-size: 1.6rem;
}

a {
  display: block;
}

a:hover {
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.l-content {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 4%;
}

@media screen and (max-width: 750px) {
  .l-content {
    width: 100%;
    padding: 0;
  }
}

.l-content-body {
  max-width: 1152px;
  margin: 0 auto 100px;
  padding: 0 4%;
}

@media screen and (max-width: 750px) {
  .l-content-body {
    width: 100%;
    padding: 0 8%;
  }
}

.c-topKv__wrapper {
  width: 100%;
  max-width: 1152px;
  margin-bottom: 40px;
  position: relative;
}

.c-topKv__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.c-topKv__logo {
  width: 23.6%;
  position: absolute;
  top: -17%;
  left: -4%;
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .c-topKv__logo {
    width: 29%;
    margin: 0 auto 5%;
    position: initial;
  }
}

.c-topKv__logo img {
  width: 100%;
}

.c-topKv__text {
  width: 48%;
  position: absolute;
  bottom: -9.5%;
  right: -6%;
}

@media screen and (max-width: 750px) {
  .c-topKv__text {
    width: 55%;
    top: 45%;
    left: 5%;
  }
}

.c-topKv__text img {
  width: 100%;
}

.c-topKv__description {
  font-size: 2.4rem;
}

@media screen and (max-width: 750px) {
  .c-topKv__description {
    font-size: 4.2vw;
    text-align: center;
  }
}

.c-heading {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 750px) {
  .c-heading {
    font-size: 3rem;
  }
}

.c-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-box {
  width: calc((100% - 50px)/3);
  height: 402px;
  position: relative;
  margin-top: 35px;
}

@media screen and (max-width: 750px) {
  .c-box {
    width: 100%;
    height: 100vw;
  }
}

.c-box:not(:nth-child(3n+3)) {
  margin-right: 25px;
}

@media screen and (max-width: 750px) {
  .c-box:not(:nth-child(3n+3)) {
    margin-right: 0;
  }
}

.c-box__img {
  max-width: 100%;
}

.c-box__img img {
  width: 100%;
  height: auto;
}

.c-box__date {
  display: block;
  font-size: 1.6rem;
  padding: 10px;
}

@media screen and (max-width: 750px) {
  .c-box__date {
    font-size: 4.2vw;
  }
}

.c-box__text {
  font-size: 1.6rem;
  padding: 0 10px;
}

@media screen and (max-width: 750px) {
  .c-box__text {
    font-size: 4.2vw;
    margin-bottom: 25%;
  }
}

.c-box__button {
  font-size: 1.2rem;
  position: absolute;
  bottom: 5%;
  right: 15px;
}

@media screen and (max-width: 750px) {
  .c-box__button {
    font-size: 4.2vw;
  }
}

.c-box__button span {
  position: relative;
}

.c-box__button span::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 25px;
  left: 0;
  -webkit-transform: scale(0.2, 1);
          transform: scale(0.2, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.c-box__button span:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.menu-gmenu-container {
  height: 70px;
}

@media screen and (max-width: 750px) {
  .menu-gmenu-container {
    position: relative;
    height: 0;
  }
}

@media screen and (min-width: 751px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 750px) {
  .menu {
    width: 100%;
    display: none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 33vw;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 10px;
  }
}

.menu-item {
  padding: 10px;
}

.c-footer__wrapper {
  width: 100%;
  height: 125px;
  background-color: #000;
  text-align: center;
  line-height: 7.5;
}

.c-footer__copyright {
  font-size: 1.6rem;
  color: #fff;
}

.c-hamburger, .c-hamburger-on {
  display: none;
}

@media screen and (max-width: 750px) {
  .c-hamburger, .c-hamburger-on {
    display: block;
    position: absolute;
    right: 5%;
    top: 10%;
    height: 32px;
    z-index: 3;
  }
}

.c-hamburger__line, .c-hamburger__line::before, .c-hamburger__line::after {
  display: block;
  width: 32px;
  height: 2px;
  background-color: #000;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.c-hamburger__line::before, .c-hamburger__line::after {
  content: '';
  position: absolute;
}

.c-hamburger__line::before {
  top: 10px;
}

.c-hamburger__line::after {
  top: 20px;
}

.c-hamburger-on__line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.c-hamburger-on__line::before {
  background-color: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.c-hamburger-on__line::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  top: 1px;
}

.u-mt-30 {
  margin-top: 60px;
}

@media screen and (min-width: 751px) {
  .sp-hide {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .sp-hide {
    display: none;
  }
}

@media screen and (min-width: 751px) {
  .pc-hide {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .pc-hide {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */