@charset "UTF-8";
/* ------------------Foundations-------------------------- */
html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  font-size: 1.6em;
}

div h2 {
  /* 68px */
  font-size: 6.8rem;
}

div a {
  /* 16px */
  font-size: 1.6rem;
}

.l-content {
  max-width: 1150px;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .l-content {
    width: 100%;
  }
}

.l-content-body {
  max-width: 1024px;
  margin: 0 auto 100px;
}

@media screen and (max-width: 750px) {
  .l-content-body {
    width: 100%;
  }
}

.c-topKv__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.c-topKv__content {
  position: relative;
}

.c-topKv__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.c-topKv__logo {
  position: absolute;
  top: -100px;
  left: -100px;
}

.c-topKv__text {
  position: absolute;
  bottom: -52px;
  right: -59px;
}

.c-topKv__description {
  font-size: 2.4rem;
}

.c-heading {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.c-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-box {
  width: calc((100% - 50px)/3);
  height: 402px;
  position: relative;
}

.c-box:not(:nth-child(3n+3)) {
  margin-right: 25px;
}

.c-box__img {
  max-width: 100%;
}

.c-box__img img {
  width: 100%;
  height: auto;
}

.c-box__date {
  display: block;
  font-size: 1.6rem;
  padding: 10px;
}

.c-box__text {
  font-size: 1.6rem;
  padding: 0 10px;
}

.c-box__button {
  font-size: 1.2rem;
  position: absolute;
  bottom: 30px;
  right: 15px;
}

.c-box__button span {
  position: relative;
}

.c-box__button span::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 25px;
  left: 0;
  -webkit-transform: scale(0.2, 1);
          transform: scale(0.2, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.c-box__button span:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.c-nav {
  width: 100%;
  height: 125px;
  line-height: 7.5;
}

.c-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-nav__item {
  margin-left: 3%;
}

.c-footer__wrapper {
  width: 100%;
  height: 125px;
  background-color: #000;
  text-align: center;
  line-height: 7.5;
}

.c-footer__copyright {
  font-size: 1.6rem;
  color: #fff;
}

.u-mt-30 {
  margin-top: 60px;
}
/*# sourceMappingURL=style.css.map */